
body {
  padding-top: 55px;
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 16px;
}

p {
  font-size: 16px;
}

/* For clickable elements in our table */
td > a {
    color: white;
}

td > a:hover {
    color: red;
}

.main-logo {
    padding-top: 30px;
    display: block;
    margin: auto;
    height: auto;
    width: 600px;
}

.contable {
    color: white;
}

.btn-xlarge {
    padding: 10px 10px;
    font-size: 17px;
}

.search-form {
    padding-top: 20px;
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.table {
    color: white;
}

.light-text {
  color: white;
}

.margin {
  margin-top: 7px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 5px;
}

.bg1 {
  /* Grey */
  background: #2c3547; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */*/
  /*background: linear-gradient(to right, #142e54 , #626262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
}

.bg2 {
    /* Blue */
  background: rgb(51,122,183); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #214857 , #626262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
  background: rgb(0, 132, 180, 0.5);
}

.navbar-elements{
  padding: 10px 9px 9px 9px;
  color: #ffdfc1;
}

.navbar-nav > li > a {
  padding-top:5px !important;
  padding-bottom:5px !important;
}

.navbar {
  min-height:32px !important
}

.navbar-default {
  height: 55px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  font-size: 16px;
  letter-spacing: 0px;
  background-color: #3c4b6a;
  /*background-image: none;*/
  border: none;
}

/*highlight on hover color */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  /*background-color: #03a465;*/
  color: #0084b4;
}

.navbar-default .navbar-nav > li > a {
  color: #ffdfc1;
}

.small-block {
  background-color: #ffffff;
  color: #000000;
}

input[type=text], textarea {
  width: 400px;
  box-sizing: border-box;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 8px;
  font-size: 15px;
  background-color: white;
  background-image: url('search-icon.png');
  background-position: 10px 12px;
  background-size: 30px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 50px;
  /*-webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;*/
}

#acontainer {
  min-width: 300px;
  max-width: 800px;
  height: 400px;
  margin: 1em auto;
}
