
html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 55px;
  font: 12px Montserrat, sans-serif;
  line-height: 1.6;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 16px;
}

p {
  font-size: 16px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td {
  border: none;
}

.table-borderless > thead > tr {
  background-color: #2b6ba2;
}

/* For clickable elements in our table */
td > a {
  color: white;
}

h2 > a {
  color: white;
}

/* Hover for clickable elements in table */
td > a:hover {
  color: red;
}

tr:nth-child(even) {
    background-color: #2b6ba2;
}

.paginate_button {
  color: white;
}

.main-logo {
  padding-top: 30px;
  display: block;
  margin: auto;
  width: 600px;
}

.search-form {
  padding-top: 10px;
  position: relative;
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /*padding-bottom: 80px;*/
  width: 60%;
}

.search-note {
  font: 12px;
  color: #ffe0c1;
  width: 60%;
  /*min-width: 600px;*/
  max-width: 1000px;
}

.search-wrapper {
  display: inline-block;
}

.btn-sline {
  padding:8px 15px;
}

.margin {
  margin-top: 7px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 5px;
}

.bg1 {
  /* Grey */
  background: #2c3547; /* fallback for old browsers */
}

.bg2 {
  /* Blue */
  background: #337bb8; /* fallback for old browsers */
}

.navbar-links {
  padding-right: 10px;
}

.navbar-elements{
  padding: 12px 9px 9px 9px;
}

.navbar-nav > li > a {
  padding-top:5px !important;
  padding-bottom:5px !important;
}

.navbar {
  min-height:32px !important
}

.navbar-default {
  height: 55px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #3c4b6a;
  /*background-image: none;*/
  border: none;
}

/* navbar elements */
.navbar-default .navbar-nav > li > a {
  color: white;
}

/* highlight on hover color */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  /*background-color: #03a465;*/
  color: #e2bb94;
}

.small-block {
  background-color: #ffffff;
  color: #000000;
}

input[type=text], textarea {
  width: 400px;
  box-sizing: border-box;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 8px;
  font-size: 15px;
  color: black;
  background-color: white;
  background-image: url('search-icon.png');
  background-position: 4px 4px;
  background-size: 30px;
  background-repeat: no-repeat;
  padding: 6px 0px 8px 45px;
  /*-webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;*/
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin-bottom: -50px;
  margin:   0px auto;
  padding:  0px auto;
  padding-bottom: 60px;
  min-width: 600px;
}

.footer {
  height: 50px;
  margin-top: -70px;
  line-height: 1;
  font: 8px !important;
}

hr {
  border-color: #494949;
}

.dataTables_info,
.dataTables_length {
  color: black;
}

#container {
  padding-top: 30px;
  padding-right: 44px;
	height: 500px;
  min-width: 500px;
  max-width: 970px;
	margin: 0 auto;
  margin-bottom: 10px;
}

.loading {
	margin-top: 10em;
	text-align: center;
	color: gray;
}
