<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SwashBucklers</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href= "{{url_for('static',filename='style.css') }}">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.ico')}}">



  </head>

  <body class="bg1">
    <div id="wrapper">
      <!-- Navbar -->
      <nav class="navbar-default navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div>
            <a href="/">
              <img src="{{url_for('static', filename='sb_logoxs.png')}}" class="img-responsive margin" style="display:inline" alt="icon" width="118">
            </a>
          </div>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <div class="navbar-links">
            <ul id="nav" class="nav navbar-nav navbar-right navbar-elements">
              <!-- <li><a href="/map">MAP</a></li> -->
              <li><a href="#2">STATISTICS</a></li>
              <li><a href="/about">ABOUT US</a></li>
            </ul>
          </div>
        </div>

      </nav>

      <!-- Search box -->
      <br />
      <br />
      <div class="container input-group">
        <form id="search" class="input-group" action="{{ url_for('search') }}" method="Post">
          <input type="text" name="search" placeholder="Topic..." value="{{uquery.query}}">
          <input type="submit" class="btn btn-primary btn-large btn-sline" name="searchbutt" id="searchbutt" value="Search Fake News">
        </form>
        <br />

      </div>


      <div class="container">

          <!-- Heatmap -->
          <script>
            function getRandomInt(min, max) {
              return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            var map_data = [
              {% for state in uquery.states %}
              ['us-{{state}}', getRandomInt(0, 5000)],
              {% endfor %}
            ];

            data = [
              {% for i in range(25) %}
              [Date.UTC(2013,5,{{i}}),getRandomInt({{i}}, 20)],
              {% endfor %}
            ];

          </script>

        <div id="exTab1">
          <ul class="nav nav-pills">
      			<li class="active">
              <a href="#1a" data-toggle="tab">Map</a>
      			</li>
      			<li><a href="#2a" data-toggle="tab">Timechart</a>
      			</li>
      		</ul>

          <div class="container bg2">
      			<div class="tab-content clearfix">
      			  <div class="tab-pane active" id="1a">

                <!-- Map -->
                <div id="cmap" class="container" align="center"></div>
                <script src="./static/us_choropleth.js?102"> </script>

      				</div>

      				<div class="tab-pane" id="2a">

                <!-- Timechart -->
                <div id="timechart" align="center"></div>
                <script src="./static/us_timechart.js?125"> </script>

      				</div>
      			</div>

            <!-- Tweet Table -->
            <h3><a href="{{uquery.topic}}"><u>{{uquery.topic}}</u></a></h3>
            <p>List of all tweets relating to search topic</p>
            <table id="mytable" class="table table-borderless container">
              <thead>
                <tr>
                  <th>Tweet</th>
                  <th>Retweets</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                {% for word in uquery.query.split(' ') %}
                <tr>
                  <td>{{word}}</td>
                  <td>10000</td>
                  <td>{{(word + ' ' + word + ' ')*10}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>


        <script>
        $(document).ready(function() {
            $(window).resize();
            $('#mytable').DataTable( {
                searching: false,
                scrollY: "200px",
                aaSorting: []
                // scrollCollapse: true
            });
        });
        </script>

        <br />
      </div>
    </div>


    <!-- Footer -->
    <div class="footer text-muted">
      <hr width="550px" align="center">
      <div class="container" align="center">
         All material about Twitter belongs to <a href="https://twitter.com/">Twitter, Inc. </a>
      </div>
    </div>

  </body>

</html>
